.icon_btn{
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.5rem 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    outline: none;
}

.icon_btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.variant_edit{
    border-color: #000;
    color: #464646;
}

.variant_edit:hover:not(:disabled){
    background-color: #f3f4f6;
    color: #111827;
}

.variant_delete,
.variant_danger{
    border-color: #9d1806;
    color: #9d1806;
}

.variant_delete:hover:not(:disabled),
.variant_danger:hover:not(:disabled) {
    background-color: #fef2f2;
    border-color: #7f1d1d;
}

.variant_success {
    border-color: #13950f;
    color: #12960d;
}

.variant_success:hover:not(:disabled) {
    background-color: #f0fdf4;
    border-color: #0f7a0b;
}

.variant_payment {
    border-color: #9c4427;
    color: #9c4427; 
}

.variant_payment:hover:not(:disabled) {
    background-color: #fff7ed;
    border-color: #7c2d12;
}

.variant_default {
    border-color: #cbd5e1;
    color: #475569;
}

.variant_default:hover:not(:disabled) {
    background-color: #f8fafc;
}