.container {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 1rem;
}

.content {
    display: flex;
    flex: 1;
    margin: 1rem 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

.employee {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4rem;
    margin-right: 3rem;
}

.employee_name {
    font-weight: 600;
    font-size: 1.1rem;
}

.employee_role {
    font-weight: 600;
    color: #b2b2b2;
}

.title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.title_container h3 {
    font-size: 1.5rem;
    margin-top: .5rem;
    font-weight: 600;
    color: #A96E68;
    margin-bottom: 0;
}

.search_container {
    margin-bottom: 1.3rem;
}
