.btn_principal{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    background-color: #b77761;
    color: #fff;
    border: none;
    border-radius: .4rem;
}

.btn_primary_size{
    padding: .4rem 8rem;
}

.btn_secondary_size{
    padding: .4rem 5rem;
}